<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="ar" xml:lang="ar">
    <head>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
        <title> {% block title %} مواضيع القرآن الكريم {% endblock %} </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="Keywords" content="quran,topics,quran,qur'an,quran topics,مواضيع القرآن,القرآن,koran" />
        <meta name="Description" content="Create and share Quranic topics" />
    </head>
  
    <body dir="rtl">
        
        <div style="float: right;">
            <h1 style="padding: 0px">
                <a href="/" style="text-decoration: none; color: #008800" >  مواضيع القرآن الكريم </a>
            </h1>
        </div>
        <div style="float: left;">
            {{ user_nickname }}
            <a href="{{ user_link }}">
                {% if user_nickname %}
                خروج
                {% else %}
                 سجل الدخول 
                {% endif %}
            </a>
        </div>
        
        <div style="float: none; clear: both">
            {% block content %}{% endblock %}
        </div>

        
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-781377-3");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
      
    </body>

</html>
