{% extends "base.html" %}

{% block title %} {{ topic.title }} {% endblock %}

{% block content %}

<div style="float: right">
    <h2 style="margin: 0"> {{ topic.title }} </h2>
</div>

{% if creating_user_or_admin %}
<div style="float: left">
    <table>
    <tr>
    <td>
        <form method="post" action="/topics/add_edit">
            <input name="topic_id" type="hidden" value="{{ topic.topic_id }}" />
            <input name="edit" type="submit" value="عدل الموضوع" >
        </form>
    </td>
    <td>
    <form method="post">
        <input name="topic_id" type="hidden" value="{{ topic.topic_id }}" />
        <input name="delete" type="submit" value="احذف الموضوع" onclick="return confirm('هل ترغب في حذف الموضوع؟')">
    </form>
    </td>
    </tr>
    </table>
</div>
{% endif %}

<div style="clear: both">

<table>
{% for line in lines %}
<tr>
    {% if line.separator %}
        <td colspan="3"> <hr/> </td>
    {% else %}
        <td valign="top"> <a href="/display_sura/{{ line.sura_number }}">   [{{ line.sura_number }}:{{ line.sura_name }}] </a> </td>
        <td valign="top"> <a href="/display_sura/{{ line.sura_number }}#{{ line.aya_number }}"> ({{ line.aya_number }}) </a> </td>
        <td> {{ line.aya_content }} </td>
    {% endif %}
</tr>
{% endfor %}
<tr> <td colspan="3"> <hr/> </td> </tr>
</table>

</div>

{% endblock %}