{% extends "base.html" %}

{% block title %} {{ topic.title }} {% endblock %}

{% block content %}

<h2> {{ topic.title }} </h2>

<table>
<tr>
    <th> سورة </th>
    <th> آية </th>
    <th> </th>
</tr>
{% for line in lines %}
<tr>
    <td> {{ line.sura_number }} </td>
    <td> {{ line.aya_number }} </td>
    <td> {{ line.aya_content }} </td>
</tr>
{% endfor %}
</table>

<form method="post">
    <input name="topic_id" type="hidden" value="{{ topic.topic_id }}" />
    <input name="delete" type="submit" value="احذف الموضوع" >
</form>

{% endblock %}