body {
	padding-top: 60px;
	padding-bottom: 60px;
}

.pull-left {
	float: left;
}

ul.main-nav li {
    float: right;
}

ul.nav.main-nav li {
    float: right;
}

.sura_link, .sura_link a {
    color: navy;
    text-decoration: none;
    text-align: left;
}

.sura_link:hover {
    background-image: url('/navbar.png');
}

@font-face {
    font-family: "Scheherazade";
    src: url(/ScheherazadeRegOT.ttf) format("truetype");
}


.quran_font {
    font-family: Scheherazade, Traditional Arabic;
}

.quran_text {
    line-height: 2;
    font-size: 30px;
	background-color: #FFFFBB; 
}

.quran_section {
    text-align: justify;
    padding: 10px;
}

.title-input {
	width: 500px;
}

.aya-input {
	width: 100px;
}