body {
  font-family: Verdana, Helvetica, sans-serif;
}

ul.main-nav {
    margin: 0pt;
    padding: 0pt;
    float: right;
    width: 100%;
    list-style:none; 
    background-image: url('/navbar.png');
}

ul.main-vav li, ul.main-nav li form input {
    vertical-align: middle
}

ul.main-nav li {
    float: right;
    text-align: center;
    padding: 4px 8px 4px 8px;
    border-left: 1px solid #59d;
}

ul.main-nav li:hover
{
    background-image: url('/navbar2.png');
}

ul.main-nav li a {
    vertical-align: middle;
    text-decoration: none;
    color: white; 
    font-weight: bold;
}

.sura_link, .sura_link a {
    color: navy;
    width: 100%;
    text-decoration: none;
    text-align: left;
}

.sura_link:hover {
    color: white;
    background-image: url('/navbar.png');
}

.quran_font {
    font-family: Traditional Arabic;
    font-size: x-large;
}

.quran_text {
    line-height: 2;
    background-color: #FFFFBB; 
}

.quran_section {
    text-align: justify;
    padding: 5px;
}