body {
	padding-top: 60px;
	padding-bottom: 60px;
}

.pull-left {
	float: left;
}

ul.main-nav li {
    float: right;
}

ul.nav.main-nav li {
    float: right;
}

.sura_link, .sura_link a {
    color: navy;
    width: 100%;
    text-decoration: none;
    text-align: left;
}

.sura_link:hover {
    background-image: url('/navbar.png');
}

.quran_font {
    font-family: Traditional Arabic;
    font-size: x-large;
}

.quran_text {
    line-height: 2;
    background-color: #FFFFBB; 
}

.quran_section {
    text-align: justify;
    padding: 5px;
}