body {
	padding-top: 60px;
	padding-bottom: 60px;
}

.pull-left {
	float: left;
}

ul.main-nav li {
    float: right;
}

ul.nav.main-nav li {
    float: right;
}

.sura_link, .sura_link a {
    color: navy;
    text-decoration: none;
    text-align: left;
}

.sura_link:hover {
    background-image: url('/navbar.png');
}

@font-face {
    font-family: "Uthmanic Hafs";
    src: url(/UthmanicHafs1Ver09.otf) format("opentype");
}

.quran_font {
/*    font-family: Uthmanic Hafs, Traditional Arabic; */
	font-family: Traditional Arabic;
    font-size: x-large;
}

.quran_text {
    line-height: 2;
    background-color: #FFFFBB; 
}

.quran_section {
    text-align: justify;
    padding: 10px;
}