{% extends "base.html" %}

{% block title %} إضافة أو تعديل موضوع {% endblock %}

{% block content %}

{% if topic.error %}
    <div style="color: red; font-weight: bold" > {{ topic.error }}<br/> </div>
{% endif %}

{% if topic.message %}
    <div style="font-weight: bold; background-color: silver;" > &nbsp; {{ topic.message }} </div>
    <br/>
{% endif %}

<form method="post">

    {% if topic.topic_id %}
        <input name="topic_id" type="hidden" value="{{ topic.topic_id }}" />
    {% endif %}
    
		  <label> عنوان الموضوع * </label>
    <input name="title" type="text" size="75" value="{{ topic.title }}" />
    
    <hr/>
    <label> أضف آيات: </label>
		  <label> رقم السورة *  </label>
    <input name="sura" type="text" />
		  <label> من آيه *  </label>
    <input name="from_aya" type="text" />
		  <label> حتى آية  </label>
    <input name="to_aya" type="text" />
    <label> ترتيب </label>
    <input name="position" type="text" />
		  <input name="add" type="submit" value="أضف" >
    <hr/>             
    		  
		  <input name="remove" type="submit" value="احذف" > |
    <input name="move_to_position" type="submit" value="غير الترتيب إلى:" >
    <input name="to_position" type="text" />
    
    <p/>		  
    
    <table>
        {% for aya in topic.ayat_display %}
        <tr>
            <input name="sura_{{ forloop.counter }}" value="{{ aya.sura_number }}" type="hidden"/>       
            <input name="sura_name_{{ forloop.counter }}" value="{{ aya.sura_name }}" type="hidden"/>       
            <input name="aya_{{ forloop.counter }}" value="{{ aya.aya_number }}" type="hidden"/>
            <input name="aya_content_{{ forloop.counter }}" value="{{ aya.aya_content }}" type="hidden"/>
            <input name="aya_key_{{ forloop.counter }}" value="{{ aya.aya_key }}" type="hidden"/>
            
            <td valign="top"> <input name="selected_{{ forloop.counter }}" type="checkbox" value="on"/> </td>       
            <td valign="top"> {{ forloop.counter }}. </td>
            <td valign="top"> [{{ aya.sura_number }}:{{ aya.sura_name }}] </td>
            <td valign="top"> ({{ aya.aya_number }}) </td>
            <td valign="top"> {{ aya.aya_content }} </td>
        </tr>
        {% endfor %}
    </table>
  
    <div align="center">
        <hr>
        <input name="save" type="submit" value="احفظ الموضوع" >
    </div>
</form>

{% endblock %}
